.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
}
.stage-direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16x;
    color: black ;
    background-color: lightcyan;
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color:black ;
}
.stage-direction:hover{
    background-color: white;
    color:  lightpink;
}
.PETRUCHIO{
    color:yellowgreen;
}
.KATHARINA{
    color:darkcyan;
}
.HORTENSIO{
    color: orange;
}

table, th, td
{
    border: 1px solid black;
}
tr:nth-child(even)
{
 background-color: rgb(243, 243, 243);
}
.table{
    color:turquoise;
    text-align: center;
    padding: 15px;
    margin: 15px;
}

.name:hover{
    text-shadow:2px 3px 5px coral;
    border:darkcyan;
    border-style:solid;   
}